<div>
  <form action = "/attendences/show?">
  <input type = "text" name = "date" id="datepicker" class = "form-control"%>
  <input type = "submit" value = "View Attendence" class = "btn btn-primary serch_attendence">
  </form>
</div>
<br>

