<div>
  <form action = "/attendences/show?">
  <input type = "text" name = "date" id="datepicker" %>
  <input type = "submit" value = "View Attendence ">
  </form>
</div>
<br>

<div class = "datewise_attendence"> </div>
